.spot_container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(249,177,18);
    margin-bottom: -400px;
}
.game_title{
    padding-top: 2rem;
    width: 100%;
    font-size: 4rem;
    color: black;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}
.game_profile{
    margin-top: 2rem;
    text-align: center; 
    color: black;
    line-height: 27px;
    font-family: sans-serif;
    font-size: 1.5rem;
}
.game_profile span{
    color: red;
    
    font-weight: 800;
}
.leaf_left{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 20px;
    left: 0;
}
.cloud_left{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 205px;
    left: 490px;
}
.cloud_left1{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 270px;
    left: 250px;
}
.cloud_right{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 175px;
    right: 350px;
}
.cloud_right1{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 265px;
    right: 95px;
}
.leaf_left img{
    width: 100%;
    height: auto;
}
.leaf_right{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 20px;
    right: 0;
}
.leaf_right img{
    width: 100%;
    height: auto;
}
.container_game {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: calc(100% - 300px);
    height: 800px;
    margin: 40px auto;
    background-color: rgb(49, 40, 8);
    border-radius: 30px;
}
/* 失敗遊戲畫面 */
.fail_game{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 815px;
    background-color: rgb(128, 128, 128);
    border-radius: 30px;
    top: 0;
    left: 0;
    z-index: 1000;
}
.fail_left{
    width: 45%;
    height: 800px;
    position: relative;
}
.fail_left img{
    width: 70%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.fail_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 800px;
    margin-right: 9rem;
}
.fail_text{
    font-size: 6rem;
    font-weight: 800;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.fail_btnGroup{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.fail_btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 260px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.fail_btn p{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 600;
    color: #eb5c37;
    pointer-events: none;
}
.fail_btn img{
    width: 100%;
    height: auto;
}
/* 獲勝遊戲畫面 */
.win_game{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 815px;
    background-color: rgb(128, 128, 128);
    border-radius: 30px;
    top: 0px;
    left: 0px;
    z-index: 1000;
}
.win_left{
    width: 45%;
    height: 800px;
    position: relative;
}
.thou_point{
    font-size: 6rem;
    font-family: sans-serif;
    font-weight: 800;
    color: red;
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%);
    z-index: 99;
}
.text_point{
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 800;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
    z-index: 99;
}
.win_left img{
    width: 70%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.win_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 800px;
    margin-right: 9rem;
}
.win_text{
    font-size: 6rem;
    font-weight: 800;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.win_btnGroup{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
}
.win_btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    width: 260px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.win_btn p{
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: 600;
    color: #eb5c37;
    pointer-events: none;
}
.win_btn img{
    width: 100%;
    height: auto;
}
.win_ps {
    width: 100%;
    font-size: 1rem;
    color: white;
    text-align: end;
}
.upper{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
    margin-right: 60px;
}
.life{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
.life i{
    font-size: 2rem;
    line-height: 50px;
    color: red;
}
.game_zone {
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: space-evenly;
}
.wrap_pic {
    width: 48%;
    position: relative;
    cursor: pointer;
}
.wrap_pic img{
    width: 100%;
    height: auto;
    background-size: cover;
    border:3px solid wheat;
}
.wrap1_pic {
    width: 48%;
    position: relative;
    cursor: pointer;
}
.wrap1_pic img{
    width: 100%;
            height: auto;
            background-size: cover;
            border:3px solid wheat;
}
.spot_tool{
    width: 100%;
    height: 70px;
    background-color: rgb(31, 22, 3);
    border-radius:0 0 30px 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_tool{
    width: 150px;
    display: flex;
}
.right_tool{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    text-align: center;
    line-height: 35px;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    font-size: 1.5rem;
    color: white;
    border: 2px solid gold;
    border-radius: 50%;
}
.list:hover{
    color: white;
}
/* 這是為了抵銷link to 預設的超連結反藍樣式效果 */
.help {
    text-align: center;
    line-height: 35px;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    font-size: 1.5rem;
    color: white;
    border: 2px solid gold;
    border-radius: 50%;
}
.count{
    color: white;
    font-size: 2rem;
    font-family: sans-serif;
}
.hint{
    text-align: center;
    line-height: 35px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    margin-right: 10px;
    color: white;
    border: 2px solid gold;
    border-radius: 50%;
    cursor: pointer;
}
.hint_count{
    color: white;
    font-size: 1.8rem;
    font-family: sans-serif;
}
/* 以下是(遊戲:眼力大挑戰第二題)正確答案的位置 */
/* 圖中央企鵝沒眼睛 */
.diff2_spot1 {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 999;
    left: 43%;
    bottom: 15%;
}
/* 最左邊壓在地上的企鵝 */
.diff2_spot2 {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 999;
    left: 6%;
    top: 61%;
}
/* 中央高的那隻白眼睛 */
.diff2_spot3 {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 999;
    left: 37%;
    top: 15%;
}
/* 中間矮的那隻額頭上 */
.diff2_spot4 {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 999;
    left: 57%;
    top: 55%;
}
.diff2_spot5 {
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 999;
    right: 28%;
    top: 34%;
} 
/* 這個判斷左圖的叉叉置中 */
.wrap_pic .fas.fa-times {
    font-size: 50px;
    position: absolute;
    z-index: 999;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 這個判斷右圖的叉叉置中 */
.wrap1_pic .fas.fa-times {
    font-size: 50px;
    position: absolute;
    z-index: 999;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 這個判斷左圖的圈圈置中 */
.wrap_pic .far.fa-circle {
    font-size: 50px;
    position: absolute;
    z-index: 999;
    color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* 這個判斷左圖的圈圈置中 */
.wrap1_pic .far.fa-circle{ 
    font-size: 50px;
    position: absolute;
    z-index: 999;
    color: green;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
/* 標題與計時器 begin */
.camera{
    width: 200px;
    height: 100px;
    perspective: 900px;
    perspective-origin: 80% 50%; 
    position: absolute;
    left: calc(50% - 120px);
    margin-top: 2.2rem;
}
.cube{
    transform-style: preserve-3d;
    transition: 1s;
    transform-origin: center center -25px;
}
.cube div{
    
    width: 250px;
    height: 50px;
    position: absolute;
    color: white;
    
}
.up{
    /* background-color: rgba(236, 124, 19, 0.644); */
    transform: rotateX(90deg) translateZ(25px)translateY(5px) ;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    opacity: 0;
    font-family: sans-serif;
}
.front{
    /* background: rgba(43, 16, 196, 0.5); */
    transform: translateZ(30px) ;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    
}
@keyframes chopacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes turnBig {
    0%{
        font-size: 50px;
        color: black;
    }
    50%{
        font-size: 80px;
        color: red;
    }
    
    100%{
        font-size: 50px;
        color: black;
    }
}
.animals-footer{
    width: 100%; 
}
.animals-footer img{
    width: 100%;
    height: auto;
    border: none;  
}
/* 只要按錯位置就會有的框框，裡面是放叉叉的icon */
.wrong_spot{
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 999;
    left: 16%;
    bottom: 14%;
}
@media (min-width:701px) and (max-width:1400px) {
    .spot_container{
        margin-bottom: -280px;
    }
    .animals-footer{
        margin-top: 150px;
    }
}